examtests/target/classes/examtests.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="examtestsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <set-variable variableName="size2" value="small2" doc:name="Variable"/>
        <set-property propertyName="size" value="small" doc:name="Property"/>
        <logger message="#[message.outboundProperties.size]" level="INFO" doc:name="Logger"/>
        <logger message="#[message.inboundProperties.size]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="examtestsFlow1">
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\empty.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.users map {
       firstname: $.@firstname,
       lastname: $.lastname
} ]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="examtestsFlow2">
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\json.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
users: {(payload.users map {
       user: {
              firstname: $.firstname,
              lastname: $.lastname
       }
})}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
	